.Header {
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    border-bottom: 1px solid #aeaeae;
    padding: 5px;
}

.Header * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px;
    color: #aeaeae;
}

.phoneNumberPinkColor {
    color: #e76e8b;
}

.HeaderNavigation {
    margin-left: 30px;
}

.subMenu {
    display: none;
}
.HeaderLi{
    display: none;
}
@media (max-width: 950px) {
    .HeaderphoneNumber * {
        display: none;
    }

    .HeaderNavigation {
        margin-left: 10px;
    }
    .HeaderphoneNumber img{
display:initial;
    }
}