.CategoriesMain {
    padding:60px 40px;
}
.title{
    color: #eeeae2;
    font-weight:bold;
    font-size:26px;
}
.Products{
    margin-top:50px;
    display:flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: center;
}

@media (max-width:1000px){
    .CategoriesMain{
        padding:0;
        width:100%;
    }
}
