.CategoriesMain {
    background-color: #202020;
    padding: 60px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title {
    color: #eeeae2;
}

.Form {
    display: flex;
    justify-content: center;

}

.FormTitles {
    color: #eeeae2;
    font-weight: bold;
    text-align: right;
}

.FormTitles * {
    margin: 57px;
    font-size: 17px;
}

.CheckBoxes {
    transform: scale(1.7);
    opacity: 0.9;
    cursor: pointer;
    margin: 30px 0 !important;
}

.formFields {
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.formFields * {
    margin: 20px 10px;
}

.SaveButton {
    background-color: #e76e8b;
    font-size: 17px;
    border-radius: 6px;
    border: none;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #eeeae2;
    margin-top: 60px;
    width: 120px;
}

.SaveButton:hover {
    color: #e76e8b;
    background-color: #2d2d2d;
    transition: 1s;
    cursor: pointer;
    align-self: center;
}

.as + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 100%;
    border-top: 1px solid #e76e8b;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    color: #111111;
}

.as:focus + label > span, .as:valid + label > span {
    top: -55px;
    font-size: 15px;
    color: #e76e8b;
}

.as + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #333;
    font-size: 20px;
    top: -30px;
    left: 0;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.as:focus + label {
    color: #e76e8b;
}

.as {
    font-size: 20px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    height: 25px;
    color: rgba(255, 255, 255, 0.89);
}

.as:focus {
    outline: none;
}

.fildset {
    outline: none;
    border: none;
    width: 280px;

}

.selectField {
    height: 38px;
    width: 280px;
    margin-top: 0;
    border: 1px solid #e76e8b;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.selectField:focus {
    border: 1px solid #e76e8b;
    outline: none;
}

option {
    background-color: #202020;
    font-size: 18px;
}

@media (max-width: 580px) {
    .CategoriesMain {
        padding: 40px 0 40px 0;
    }

    .FormTitles * {
        margin: 52px 10px 52px 10px;
        font-size: 17px;
    }

    h1 {
        font-size: 25px;
    }

    .FormTitles {
        display: none;
    }

    .fildset {
        width: 250px;
    }
}

@media (max-width: 290px) {
    .CategoriesMain {
        padding: 40px 0 40px 0;
        width: 200px;
    }

    .FormTitles * {
        margin: 52px 0 52px 0;
        font-size: 17px;
    }

    .fildset {
        width: 200px;
    }

    h1 {
        font-size: 20px;
        width: 90%;
    }
}